test: {{ getv "/default/test" }}
connect: {{ join (jsonArrayAppend (getv "/default/connect") ":9000" ":2900") "," }}
ip: {{ getenv "HOST_IP" }}
extend1: {{ getv "/extend1" }}
extend2: {{ getv "/extend2" }}
{{- range $index,$value := jsonArray (getv "/default/save")}}
save {{ $index }} {{ $value }}
{{- end }}
{{- $key := "key" }}
{{- $count := 6 }}
{{- range $i := seq 0 (sub $count 1) }}
{{ $key }}-{{ $i }}
{{- end }}
